<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeCuisinier.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B803BE1C2BD2DAD000309B64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B803BE302BD2DAD300309B64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B803BE3A2BD2DAD300309B64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
